In [24]:
import librosa
import pandas as pd
import IPython.display as ipd
import numpy as np
import tensorflow as tf
from tensorflow import keras
model = keras.models.load_model('mymodel')
#specifying labels of emotion, reuired for classes
emotionMap = {0:'neutral', 1:'calm', 2:'happy', 3:'sad', 4:'angry', 5:'fear', 6:'disgust', 7:'surprise'}
print('completed step')

completed step

In [29]:
#load test sample
path = 'Test/Demo_input.wav'
X, sample_rate = librosa.load(path, res_type='kaiser_fast',duration=3,sr=44100,offset=0.5)

#obtain mel spectrograph
df = pd.DataFrame(columns=['mel_spectrogram'])
spectrogram = librosa.feature.melspectrogram(y=X, sr=sample_rate, n_mels=128,fmax=8000) 
db_spec = librosa.power_to_db(spectrogram)
log_spectrogram = np.mean(db_spec, axis = 0)
df.loc[0] = [log_spectrogram] 
df = pd.DataFrame(df['mel_spectrogram'].values.tolist())
df.head()

,0,1,2,3,4,5,6,7,8,9,...,249,250,251,252,253,254,255,256,257,258
0,-43.034767,-42.886227,-42.879051,-42.759583,-41.277554,-38.545448,-36.18568,-35.698917,-35.641945,-32.898178,...,-34.455399,-35.39957,-36.938568,-38.298855,-40.071812,-41.050892,-41.82729,-42.700016,-43.370239,-43.809811

In [30]:
colstest = np.arange(242,262,1)
print(colstest) 
dftest = pd.DataFrame(index=np.arange(1), columns=colstest)
dftest = dftest.fillna(0) 
df = pd.concat([df,dftest],axis=1) 
df.head()

[242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261]

,0,1,2,3,4,5,6,7,8,9,...,252,253,254,255,256,257,258,259,260,261
0,-43.034767,-42.886227,-42.879051,-42.759583,-41.277554,-38.545448,-36.18568,-35.698917,-35.641945,-32.898178,...,0,0,0,0,0,0,0,0,0,0

In [31]:
#formatting data as required to pass to model for prediction
x_log = df.iloc[:, 3:]
x_log=np.array(x_log)
print(x_log.shape)
sample = x_log[:,:,np.newaxis]

(1, 276)

In [32]:
#display prediction
predictions = model.predict(sample)
classes = pd.DataFrame(np.argmax(predictions, axis = 1))
print(classes.replace(emotionMap))

WARNING:tensorflow:Model was constructed with shape (None, 259, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 259, 1), dtype=tf.float32, name='conv1d_3_input'), name='conv1d_3_input', description="created by layer 'conv1d_3_input'"), but it was called on an input with incompatible shape (None, 276, 1).
       0
0  happy